[submodule "./CMUdict/MyCppLib"]
	path = ./CMUdict/MyCppLib
  url = git@github.com:helauren42/MyCppLib.git

[submodule "./ipa_dict/MyCppLib"]
	path = ./ipa_dict/MyCppLib
	url = git@github.com:helauren42/MyCppLib.git
